$lightblue: rgb(92, 163, 190);
$blue: #3a506fff;
$darkblue: rgb(42, 60, 85);

.date {
  display: flex;
  color: $blue;
  margin-bottom: 30px;
  span {
    color: $blue;
    font-size: 14px;
    padding: 0px 5px;
  }
}
.card {
  padding: 10px;
  box-shadow: rgba(102, 170, 182, 0.473) 0px 1px 0px,
    rgba(87, 152, 163, 0.164) 0px 0px 8px;
  border-radius: 15px;
  background-color: #fff;
}
.data-display-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chartcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  .comments-card {
    width: 100px;
    margin-bottom: 20px;
    span {
      font-size: 14px;
      color: $blue;
      margin: 0;
    }
    h1 {
      margin: 0;
      color: $darkblue;
    }
  }
  .flex-card-cont{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .bar-chart,.pie-chart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
   
  }
  .bar-chart{
    display: flex;
    flex-direction: column;
    height: 250px;
    max-width: 100%;
    margin-bottom: 30px;
    min-width: 300px;
    
  }
  .pie-chart{
    min-width: 300px;
    min-height: 200px;
    max-width: 480px;
  

  }

}

@media only screen and (min-width:1000px) {
    .chartcont{
        display: flex;
        flex-direction: row !important;
        .bar-chart{
          margin-right: 20px;
          min-width: 450px;
          min-height: 300px;
          margin-bottom: 0px;
        }
        .pie-chart{
          
          min-width: 350px;
          min-height: 450px;
          
    
      }
    }
}