$lightblue:rgb(161, 222, 228);
$blue:#3a506fff;

.home-main-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8ff;
}
.home-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    padding: 20px 4%;
    font-family: 'Manrope';
    height: 500px;
    
   
}